.App {
    text-align: center;
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
  }
  
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  

  
  /*************************************************************************/

  
  #idMain{
    min-height: 80vh;
    
    background: linear-gradient(whitesmoke, #ccd5ae);
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  #idContainerInscription {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  .headColor {
    background-color: red;
  }
  
  
  #idImageAccueilNonConnecte {
    min-height: 600px;
    background-image: url('../images/headH.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: -20px;
  }

  #idImageAccueilAdmin {
    min-height: 600px;
    /* background-image: url('../images/head1.jpg'); */
    background-image: url('../images/accueil7HRes-2560x1600.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center bottom;
    margin-top: -20px;
  }

  #idImageAccueilPersonnel {
    min-height: 600px;
    /* background-image: url('../images/materials4-1024x768.jpg'); */
    background-image: url('../images/accueil19HRes-1600x640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 92%;
    margin-top: -20px;
  }

  #idUserHead {
    height: 1000px;
    background-image: url("../images/head1.jpg");
  }
  
  /* #idAccueilNonConnecte {
    /* height: 222vh; */
    /* background-color: whitesmoke; */
    /* background-image: url(C:\Users\stephanie\Masso\MassoPro_Frontend\images\head.jpg); */
  /* } */ 
  
  #services {
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left: 100px; */
  }
  
  #therap1 {
    height: 400px;
    /* background-image: url('../images/therapi.jpg'); */
    /* background-image: url('../images/therap2-male2.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/therap2-female2-Cropped.jpg');
    
    width: 700px;
    margin: 20px;
  }
  
  #therap2 {
   
    height: 400px;
    /* background-image: url('../images/therap5.jpg'); */
    /* background-image: url('../images/therap-male-150PRCT-CRPD.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/therap4-male3.jpg');
    background-position: center 40%;
    width: 700px;
    margin: 20px;
  
  }
  
  
  #therap3 {
   
    height: 400px;
    /* background-image: url('../images/therap4.jpg'); */
    /* background-image: url('../images/therap4-male.jpg'); */
    background-image: url('../images/feet-700W.png');
    
    width: 700px;
    margin: 20px;
  }
  
  #therap4 {
    height: 400px;
    /* background-image: url('../images/therap3.jpg'); */
    background-image: url('../images/therap4-male2-400H.png');
   
    width: 700px;
    margin: 20px;
  }
  
  #therapText1 {
    
    height: 400px;
    width: 900px;
    margin: 20px;
    border-radius: 5px;
    background-color: #ccd5ae;
   
  }
  #therapText2 {
   
    height: 400px;
    width: 900px;
    margin: 20px;
    border-radius: 5px;
    background-color: #ccd5ae;
    
  }
  #therapText3 {
  
    height: 400px;
    width: 900px;
    margin: 20px;
    border-radius: 5px;
    background-color: #ccd5ae;
    
    
  }
  
  #therapText4 {
  
    height: 400px;
    width: 900px;
    margin: 20px;
    border-radius: 5px;
    background-color: #ccd5ae;
    
  }

  .therapTextTitle{
    padding: 40px 30px 10px 30px;
  }

  .therapTextDetail{
    padding: 20px 100px;
    line-height: 35px;
    font-size: 18px;

  }
  
  #idBloc1 {
    display: flex;
    flex-wrap: wrap;
  }
  #idBloc2 {
    display: flex;
    flex-wrap: wrap;
  }
  #idBloc3 {
    display: flex;
    flex-wrap: wrap;
  }
  #idBloc4 {
    display: flex;
    flex-wrap: wrap;
  }
  
  #contactFooter {
    flex-basis: 25%;
    margin-right: 50px;
  }
   #horaireFooter {
    flex-basis: 25%;
  } 


body {
    background-color: #faf8ed !important;
}


#idFooter {
    background-color: #463f3a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 10vh;
    padding-top: 20px;
    margin-top: 0px;
    font-weight: bold;
    color: white;
}

#idHeader {
    /* background-color: #6B705C; */
    /* background-color: #CB997E; */
    /* background-color: #DDBEA9; */
    background-color: #463f3a;
    height: 10vh;
}

/* .navbar{ */
/* background-color: #CB997E !important; */
/* background-color: #6B705C !important; */
/* background-color: rgb(253, 237, 237); */
/* background-color: #F0EFEB; */
/* } */

.navbar .navbar-brand {
    padding-top: 20px;
    color: white;
    font-size: 26px;
    
}

.navbar .navbar-brand:hover {
    color: #ccd5ae;
    text-shadow: 0px 0px 3px black;
}

.navbar .nav-link {
    padding-top: 25px;
    color: white;
    font-size: 20px;
}

.navbar .nav-link:hover {
    color: #ccd5ae;
    text-shadow: 0px 0px 3px black;
}

.welcome-msg{
    font-size: 18px;
    
}

.admin-menu li {
    list-style-type: none;
    text-align: left;

}

.mleft-6 {
    margin-left: 6px;
}

.mleft-16 {
    margin-left: 16px;
}

.mleft-40 {
    margin-left: 40px;
}

.mtop-10 {
    margin-top: 10px;
}

.mtop-20 {
    margin-top: 20px;
}

.mtop-40 {
    margin-top: 40px;
}

.mtop-100 {
    margin-top: 200px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.p-20 {
    padding: 20px;
}

.text-aleft {
    text-align: left;
}

.text-aright {
    text-align: right;
}


.whitesmoke {
    background-color: whitesmoke;
}

.nowrap {
    white-space: nowrap;
}

.MuiTextField-root .MuiOutlinedInput-input {
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
}

.MuiTextField-root label {
    color: #888;
    padding: 1px 7px;
    background-color: whitesmoke;
}


.App .input-border:focus,
.App .form-select:focus,
.modal-dialog .form-control:focus,
.form-control:focus {
    border-color: #82654e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(90, 72, 32, 0.6);
}

.App .MuiInputBase-input.MuiOutlinedInput-input:focus,
.App .MuiInputBase-input.MuiOutlinedInput-input:focus-visible,
.App .MuiInputBase-input.MuiOutlinedInput-input:focus-within {
    border-color: #82654e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(90, 72, 32, 0.6);
    outline: 0;

}


/* Hides the border of field including show password icon */



.App .show-password-icon div:focus-within fieldset{
    border-width: 0px !important;
    
}

.App .MuiOutlinedInput-notchedOutline,
.App .MuiOutlinedInput-notchedOutline:focus {
    border-width: 0px;
}

/* .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
    border-color: purple;
  } */

.App .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #82654e;
}

.App .MuiFormLabel-root.MuiInputLabel-root.Mui-focused {
    color: #82654e;
}


/* For text above checkboxes in FormulaireClient.js */

.legend {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    padding: 0;
    position: relative;
}


  /* If using FormLabel component="legend"*/
.App .MuiFormLabel-root.Mui-focused {
    /* color: rgba(0, 0, 0, 0.87); */
    color: #888;
}

/* End For text above checkboxes in FormulaireClient.js */


/* Checkboxes */

.App .MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    background-color: transparent;
}

.App .MuiSvgIcon-root {
    color: #82654e;

}

.App .MuiSvgIcon-root:hover {
    color: #c3a188;

}

.App .MuiBox-root .MuiButtonBase-root.MuiCheckbox-root,
.App .MuiBox-root .MuiButtonBase-root.MuiCheckbox-root:hover {
    background-color: transparent;
}

/* End Checkboxes */


.app-icon {
    cursor: pointer;
    color: #82654e;
    margin: 0px 10px;
}


.app-icon.app-icon-active,
.app-icon.app-icon-active:hover{
    cursor:unset;
    color: green;

}

.app-icon.app-icon-inactive,
.app-icon.app-icon-inactive:hover {
    cursor:unset;
    color: gray;
}

.MuiTableCell-head {
    font-weight: bold !important;
}

.searchBox {
    width: 60%;
}

.dureeTextField {
    text-align: center;
}

.MuiButton-root {
    border: 1px solid #666 !important;
}





.reservation-card {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;  
}

.reservation-card-btn {
   margin-top: 16px;
  
}

/* Generic button styling */

.MuiButtonBase-root,
.btn.btn-primary,
.MuiDialogActions-root .MuiButtonBase-root {
    background-color: #a98467;
    border-radius: 5;
    border-color: #a38055;
    color: white;
}

.MuiButtonBase-root:hover,
.btn.btn-primary:hover,
.MuiDialogActions-root .MuiButtonBase-root:hover {
    background-color: #82654e;
    border-color: #a38055;
}

.App .MuiButtonBase-root:active,
.App .btn.btn-primary:active,
.App :not(.btn-check)+.btn:active,
.MuiDialogActions-root .MuiButtonBase-root:active {
    background-color: #534c30;
    border-color: #a38055;
}


.MuiButtonBase-root.btn-secondary {
    color: #6c757d;
    background-color: transparent;
}

.MuiButtonBase-root.btn-secondary:hover {
    /* background-color:#5c636a; */
    /* background-color: rgba(108, 117, 125, 0.298); */
    color: white;
    background-color: #6c757d;
}




/* End Generic button styling */

/* Available times for booking in PageReservation */

.MuiBox-root .MuiButtonBase-root,
.btn.btn-primary {
    background-color: #c3a188;
    border-color: #a38055;
}

.MuiBox-root .MuiButtonBase-root:hover,
.App .btn.btn-primary:hover {
    background-color: #82654e;
    border-color: #a38055;
}

/* End Available times for booking in PageReservation */

/* Calendar */

/* .App .MuiPickersDay-today.Mui-disabled{
    color: white;
} */

.App .MuiPickersDay-root:active {
    background-color: #82654e;
}

.App .MuiPickersDay-root.Mui-selected {
    /* background-color: #ccd5ae; */
    /* background-color: #82654e; */
    background-color: #a98467;
    
}

.App .MuiPickersDay-root.Mui-selected:hover,
.App .MuiPickersDay-root:focus.Mui-selected {
    background-color: #82654e;
}

.MuiPickerStaticWrapper-root .MuiDialogActions-root button:first-child {
    /* background-color: #6c757d; */
    color: #6c757d;
    background-color: transparent;
}

.MuiPickerStaticWrapper-root .MuiDialogActions-root button:nth-child(2) {
    /* font-weight: bold; */
}

/* End Calendar */



.MuiButtonBase-root.MuiToggleButton-root.Mui-selected {
    background-color: #c3a188;
    color: white;
}

.MuiButtonBase-root.MuiToggleButton-root.Mui-selected:hover {
    background-color: #a98467;
}


.cursor-default {
    cursor: default;
}